
h2 {
    margin-top: 55px;
    margin-right: 20px;
    margin-bottom: 8px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 35px;
}


h4 {
    font-size: 15px;
    margin-top: 10px; margin-right: 20px; margin-bottom: 8px; margin-left: 10px;
}

h5 {
    font-size: 12px;
    margin-top: 2px; margin-right: 20px; margin-bottom: 2px; margin-left: 10px;
}

.chart-title {
    font-size: 12px;
    margin-top: 20px; margin-right: 5px; margin-bottom: 50px; margin-left: 10px;
    font-weight: bold;
}

.row {
    margin-top: 8px;
}

div {border-style: none}

/*#filters-div {
    border-style: inset
}*/

/*#results-div {
    border-style: inset
}*/


/*#dc-chart-table .th_description , #dc-chart-table .dc-table-column._0 { width: 200px;  text-align: left; padding-right: 5px; }
/*#dc-chart-table .th_notes, #dc-chart-table .dc-table-column._1 { width: 140px; text-align: left; }*/
/*#dc-chart-table .th_conflicting_entity, #dc-chart-table .dc-table-column._2 { width: 60px; text-align: left; padding-left: 5px; }
#dc-chart-table .th_source, #dc-chart-table .dc-table-column._3 { width: 40px; text-align: left; padding-left: 5px; }*/

#dc-chart-table .th-pub-date, #dc-chart-table .dc-table-column._0 {
    width: 80px;
    font-size: 12px;
    text-align: left;
    padding-left: 5px;
}

#dc-chart-table .th_story, #dc-chart-table .dc-table-column._1 {
    width: 460px;
    font-size: 11px;
    text-align: left;
    padding-left: 5px;
}


.dc-table-label {
    font-size: 11px;
    padding-left: 50px;
}

.dc-table-group {
    background-color: #9ecae1;
}