
h2 {
    margin-top: 5px; margin-right: 20px; margin-bottom: 8px; margin-left: 0px;
}

h4 {
    font-size: 15px;
}

div {border-style: none}

#dc-chart-table .th_description , #dc-chart-table .dc-table-column._0 { width: 140px;  text-align: left; padding-right: 5px; }
#dc-chart-table .th_family_member, #dc-chart-table .dc-table-column._1 { width: 15px; text-align: left; }
#dc-chart-table .th_conflicting_entity, #dc-chart-table .dc-table-column._2 { width: 60px; text-align: left; padding-left: 5px; }
/*#dc-chart-table .th_category, #dc-chart-table .dc-table-column._3 { width: 60px; text-align: right; }*/
#dc-chart-table .th_source, #dc-chart-table .dc-table-column._4 { width: 40px; text-align: left; padding-left: 5px; }

