:root {
    --col-1-width: 320px;
    --min-width: 1100px;
    /* --max-width: 1100px; */
}


body {
    margin: 0;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-areas: 
        "logo       title    " 
        "searchBox  info     " 
        
        "filters    conflictsHeader" 
        "filters    conflicts" 
        "footer     footer   "; 
    grid-template-columns: var(--col-1-width) 1fr;
    grid-template-rows: 100px 60px auto 1fr 2px;
    grid-gap: .2em;
    margin: 0px;
    height: 100vh;
    width: calc(100vw - 18px);
}



.container *> {
    border: 1px solid black;    
}

.logo {
    grid-area: logo;
}

.title {
    grid-area: title;
}


.info {
    grid-area: info;
}

.search-box {
    grid-area: searchBox;
}

.filters {
    grid-area: filters;
    overflow-y: auto;
}

/* .status {
    grid-area: family;
}

.family {
    grid-area: family;
} */

.stats {
    grid-area: stats;
}

.download {
    grid-area: download;
}

.date {
    grid-area: date;
}

.results {
    grid-area: results;
    overflow-y: scroll;
    height: 30px;
}

.conflictHeader {
    grid-area: conflictHeader;
}

.conflicts {
    grid-area: conflicts;
    overflow: auto;
}

.footer {
    grid-area: footer;
}


/*
.status {
    grid-area: status;
} */

.conflict {
    grid-area: conflict;
}




/* Phone */
@media screen and (max-width: 50em) { 
    h4.tagline {
        display: none;
    }

    :root {
        --col-1-width: 160px;
        --min-width: 400px;
        /* --max-width: 1100px; */
    }

    body {
        width: 400px;
    }

    .container {
        display: grid;
        grid-template-areas: 
            "logo       logo     " 
            "title      title    "
            "searchBox  searchBox  " 
            "filters    conflictsHeader" 
            "filters    conflicts" 
            "footer     footer   "; 
        grid-template-columns: var(--col-1-width) 1fr;
        grid-template-rows: 100px 60px auto auto auto 2px;
        grid-gap: .2em;
        margin: 0px;
        height: 100vh;
        width: calc(100vw - 18px);
    }

    h4.tagline {
        display: none;
    }

    .info {
        display: none;
    }
   
    .search-input {
        margin-top: 8px;
        margin-left: 10px;
        width: 170px;
        font-size: 14px;
    }

    .search-title {
        margin-top: 6px;
        margin-left: 2px;
        font-size: 13px;
    }

    h1.title {
        margin-top: 15px; 
    }
}


