body {
    margin: 0;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-areas: 
        "logo       title      title       title       title       title" 
        "info       info       info        info        info        info" 
        "searchBox  searchBox  conflicts   conflicts   conflicts   conflicts" 
        "family     family     conflicts   conflicts   conflicts   conflicts" 
        ".          .          conflicts   conflicts   conflicts   conflicts" 
        "footer     footer     footer      footer      footer      footer"; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 40px 60px 1fr 1fr 10px;
    grid-gap: .5em;
    margin: 0px;
    height: 100vh;
}

.container *> {
    border: 1px solid black;    
}

.logo {
    grid-area: logo;
}

.title {
    grid-area: title;
}


.info {
    grid-area: info;
}

.search-box {
    grid-area: searchBox;
}

.family {
    grid-area: family;
}

.stats {
    grid-area: stats;
}

.download {
    grid-area: download;
}

.date {
    grid-area: date;
}

.results {
    grid-area: results;
    overflow-y: scroll;
    height: 30px;
}

.conflicts {
    grid-area: conflicts;
    overflow: auto;
}

.footer {
    grid-area: footer;
}


/*
.status {
    grid-area: status;
} */

.conflict {
    grid-area: conflict;
}

.outlet {
    grid-area: outlet;
}


