:root {
    --col-1-width: 350px;
    --min-width: 1100px;
    /* --max-width: 1100px; */
}


body {
    margin: 0;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-areas: 
        "logo       title    " 
        "info       info     " 
        "searchBox  conflicts" 
        "family2    conflicts" 
        "family2    conflicts" 
        "family     conflicts" 
        "footer     footer   "; 
    grid-template-columns: var(--col-1-width) 1fr;
    grid-template-rows: 100px auto 60px 1fr 1fr 1fr 2px;
    grid-gap: .2em;
    margin: 0px;
    height: 100vh;
    width: calc(100vw - 18px);
}

.container *> {
    border: 1px solid black;    
}

.logo {
    grid-area: logo;
}

.title {
    grid-area: title;
}


.info {
    grid-area: info;
}

.search-box {
    grid-area: searchBox;
}

.family {
    grid-area: family;
}

.family2 {
    grid-area: family2;
}

.stats {
    grid-area: stats;
}

.download {
    grid-area: download;
}

.date {
    grid-area: date;
}

.results {
    grid-area: results;
    overflow-y: scroll;
    height: 30px;
}

.conflicts {
    grid-area: conflicts;
    overflow: auto;
}

.footer {
    grid-area: footer;
}


/*
.status {
    grid-area: status;
} */

.conflict {
    grid-area: conflict;
}

.outlet {
    grid-area: outlet;
}


