html {
    min-width: 1040px;
}

body {
    background: #fcfcfa;
    font-family: "open sans", Helvetica, Arial, sans-serif;
    margin: 1em auto 2em 1em;
    position: relative;
    width: 1100px;
}

a {
    color: steelblue;
}

h1 {
    margin-top: 33px;
    margin-right: 20px;
    margin-bottom: 8px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 28px;
}

h2 {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 6px;
    margin-left: 5px;
    /* font-weight: bold; */
    font-size: 18px;
}

h3 {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 8px;
    margin-left: 0px;
    font-weight: bold;
    font-size: 16px;
}

h4 {
    margin-top: 18px;
    margin-right: 20px;
    margin-bottom: 6px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 15px;
}

p {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 6px;
    margin-left: 20px;
    font-size: 15px;
    color: #737373;
    line-height: 1.5;
}

table {
    margin-left: 20px; 
}


tr {
    border-left-width: 0px;
    border-right-width: 0px; 
}

th {
    border-bottom-color: rgb(209, 209, 209);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-top: 5;
    padding-bottom: 5;
    font-size: 14px;
    font-weight: 700;
}

td {
  /*   border-bottom-color: rgb(209, 209, 209);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 0px;
    border-right-width: 0px; */

    /* border-bottom: 1px solid rgb(209, 209, 209); */

    padding-top: 5;
    padding-bottom: 5;
    font-size: 14px;
    font-weight: 400;
}

input {
    width: 300px;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 8px;
}


.dc-chart {
    padding-left: 10px;
    padding-top: 10px;
}

.conflict-summary {
    font-size: 14px;
}

.conflict-summary:hover{
    background-color: #cee2ed;
    cursor:pointer;
 }
 


.search-input {
    margin-top: 8px;
    margin-left: 30px;
    width: 360px;
    font-size: 15px;
}

h4.conflict-title {
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 3px;
}

p.conflict-description {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 13px;
}

.conflict-stories {
    margin-left: 20px;
    font-style: italic
}



.close {
    font-size: 15px;
    color: #222;
    float: right;
    cursor:pointer;
}

.title {
    font-weight: bold;
    font-size: 30px;
    color: #000;
    font-family: "PT Sans", sans-serif;
}


#dc-chart-table .th-pub-date, #dc-chart-table .dc-table-column._0 {
    width: 64px;
    font-size: 12px;
    text-align: left;
    padding-left: 5px;
    padding-top: 4px;
}

#dc-chart-table .th_story, #dc-chart-table .dc-table-column._1 {
    width: 460px;
    font-size: 12px;
    text-align: left;
    padding-left: 5px;
    padding-top: 8px;
    padding-bottom: 4px;
}

.info {
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: 20px;
    margin-left: 12px;
}

.search-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
}

.chart-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 50px;
}

.dc-table-label {
    font-size: 12px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}
/* 
.dc-table-group {
    background-color: #cee2ed; 
} */

.conflict-col-1 {
    width: 84px;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    padding-top: 4px;
}

.conflict-col-2 {
    /* width: 600px; */
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    padding-top: 4px;
}

.td-percent {
    text-align: right;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.td-text {
    text-align: left;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.td-date {
    text-align: left;
    width: 85px;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.td-link a {
    text-decoration: none;
}

.td-link {
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid rgb(209, 209, 209);
}



#ethicsModal {
    width: 100%; height: 100%;
}

#footer {
    width: 100%; height: 30px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 120px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 2px 10px;
    margin-top: 0px;
    /*background-color: #5cb85c;*/
    /*color: white;*/
}

/* Modal Body */
.modal-body {
    margin-top: 10px;
    margin-bottom: 12px;
    margin-left: 25px;
    padding: 2px 10px;
}

/* Modal Footer */
/*.modal-footer {
    padding: 2px 16px;
   
    color: white;
}*/

#timeline {
	width:100%;
    height:450px;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 0px solid #888;
   /*  width: 80%; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
/*     animation-name: animatetop;
    animation-duration: 0.3s */
}


@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 30;
        opacity: 1
    }
}