:root {
    /* box-sizing: border-box; */
    font-size: calc(0.5em + 1vw);

    --table-text-color: rgb(209, 209, 209);
    --dark-grey-text: rgb(39, 39, 39);
    --grey-text: rgb(80, 80, 80);
    --black: rgb(30, 30, 30);

    --background: rgb(248, 248, 248);
    --shaded-background: rgb(220, 220, 220);
    --dark-shaded-background: rgb(150, 150, 150);
}

/* *,
::before,
::after {
    box-sizing: inherit;
} 
 */



body {
    background: #fcfcfa;
    font-family: "open sans", Helvetica, Arial, sans-serif;
    margin: 1em auto 2em 1em;
    position: relative;
    width: 1100px;
}

a {
    color: steelblue;
}

h1 {
    color: var(--dark-grey-text);
    margin: 1.3rem 1.3rem 0.3rem 0.1rem;
    font-weight: bold;
    font-size: 1.4rem;
}

h2 {
    margin: 1.1rem 1.3rem .3rem .5rem;
    font-size: 1.2rem;
}

h3 {
    margin: 0.7rem 1.3rem 0.5rem 0.0rem;
    font-weight: bold;
    font-size: 1rem;
}

h4 {
    margin: 1.2rem 1.2rem 0.3rem 0.3rem;
    font-weight: bold;
    font-size: .92rem;
}

p {
    margin-top: 0.5rem;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    margin-left: 0.5rem;
    font-size: .85rem;
    color: var(--grey-text);
    line-height: 1.0rem;
}

table {
    margin-left: 0.8rem; 
}


tr {
    border-left-width: 0px;
    border-right-width: 0px; 
}

th {
    border-bottom-color: rgb(209, 209, 209);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-top: 5;
    padding-bottom: 5;
    font-size: 0.8rem;
    font-weight: 700;
}

td {
    padding-top: 5;
    padding-bottom: 5;
    font-size: 0.8rem;
    font-weight: 400;
}

input {
    width: 240px;
    font-size: 0.9rem;
    margin-left: 20px;
    margin-top: 8px;
}

.div-chart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.div-chart-item:hover {
    border-width: 3px;
    border-style: solid;
    margin: 2px;
    cursor: pointer;
}
  
.div-chart-item > p {
    font-size: 0.70rem;
    margin-top: 0.1rem;
}

.div-chart-item > h3 {
    font-size: 0.75rem;
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.div-chart-item > img {
    margin-bottom: 0.6rem;
}


.dc-chart div.deselected {
    background-color: var(--dark-shaded-background);
    border-width: 0px;
    border-style: none;
    margin: 2px
}

.dc-chart div.selected {
    background-color: var(--background);
    border-width: 1px;
    border-style: solid;
    margin: 1px
}

.dc-chart div.noneSelected {
    background-color: var(--background);
    border-width: 0px;
    border-style: none;
    margin: 2px
}

.dc-data-count {
    margin: .3rem 0 0 0;
    padding: 0 0 0 0;
    font-size: 0.9rem;
}

.data-count {
    margin: .3rem 0 0 0;
    padding: 0 0 0 0;
    font-size: 0.9rem;
}

#results {
    color: var(--dark-grey-text);
    font-style: italic;
    font-size: 0.8rem;
    margin: 0 0 0 0; 
}

#conflict-note {
    font-style: italic;
    font-size: 0.65rem;
    font-weight: normal;
    display: block;
    color: var(--dark-grey-text);
}

.div-chart-item {
    text-align: center;
    width: 9rem;
    margin: auto auto auto auto;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset; */
    background-color: #F8F8F8;
}

.dc-chart {
    padding: 0.0rem 0.2rem 0.0rem 0.2rem;
}

.dc-chart g.row text {
    font-size: 0.8rem;
}

.conflict-summary {
    padding-top: 0.1rem;
    padding-bottom: 0.3rem;
    font-size: 0.8rem;
}

.conflict-header {
    display: flex;
    align-items: center; 
}

#conflict-title {
    display: flex;
    align-items: center; 
}

.conflict-page-title {
    color: var(--dark-grey-text);
    font-weight: bold;
    font-size: 1.4rem;
}

.conflict-summary:hover{
    background-color: #cee2ed;
    cursor:pointer;
 }

 .filter-count {
    font-size: 0.8rem;
 }
 
 .total-count {
    font-size: 0.8rem;
 }


.search-input {
    margin-top: 0.5rem;
    margin-left: 30px;
    width: 270px;
    font-size: 0.9rem;
}


.title {
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 2rem;
    color: #000;
    font-family: "PT Sans", sans-serif;
}


h4.tagline {
    font-size: 0.8rem;
    font-style: italic;
    color: var(--dark-grey-text);
    font-weight: normal;
    margin-top: 7px;
    margin-bottom: 3px;
}



.info {
    color: var(--dark-grey-text);
    font-style: italic;
    font-size: 0.7rem;
    margin: 0.1rem 1rem .3rem .2rem; 
    line-height: 0.9rem;
}


span.conflict-title {
    color: var(--dark-grey-text);
    font-weight: bold;
    font-size: 1.0rem;
    vertical-align: middle;
    display: inline-block;
}

span.conflict-title:hover {
    color: var(--black-text);
}

p.conflict-description {
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 0.76rem;
    display: block;
}

.conflict-stories {
    margin-left: 0.5rem;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 400;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}

.tiny-photo {
    margin: 4px 8px 0px 4px;
}


.close {
    font-size: 0.9rem;
    font-weight: bold;
    color: #222;
    cursor:pointer;
    margin-left: 10px;
    margin-bottom: 5px;
    display: block;
}

.close:hover {
    font-size: 0.94rem;     
}


#dc-chart-table .th-pub-date, #dc-chart-table .dc-table-column._0 {
    width: 64px;
    font-size: 0.7rem;
    text-align: left;
    padding-left: 5px;
    padding-top: 4px;
}

#dc-chart-table .th_story, #dc-chart-table .dc-table-column._1 {
    width: 460px;
    font-size: 0.7rem;
    text-align: left;
    padding-left: 5px;
    padding-top: 8px;
    padding-bottom: 4px;
}

.search-title {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
}

.chart-title {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.dc-table-label {
    font-size: 0.8rem;
    padding-left: 0.4rem;
    padding-bottom: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.conflict-col-1 {
    width: 84px;
    font-size: 0.8rem;
    text-align: left;
    padding-left: 0.4rem;
    padding-top: 0.4rem;
}

.conflict-col-2 {
    font-size: 0.8rem;
    text-align: left;
    padding-left: 0.4rem;
    padding-top: 0.4rem;
}


.sunlight-table {
    padding: 0.3rem;
}

.td-percent {
    text-align: right;
    border-bottom: 1px solid var(--table-text-color);
    padding: 0.5rem;
}

.td-text {
    text-align: left;
    border-bottom: 1px solid var(--table-text-color);
    padding: .05em;
}

.td-date {
    text-align: left;
    width: 5rem;
    border-bottom: 1px solid var(--table-text-color);
    padding: 0.5rem;
}

.td-link a {
    text-decoration: none;
}

.td-link {
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid var(--table-text-color);
    padding-top: 0.4rem;
}

.conflict-page {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 100px;
    height: 100%;
    background-color: #fefefe;
}

.conflict-page-header {
    padding: 0.1rem .8rem;
    margin-top: 0.0rem;
    border-bottom: 1px solid var(--table-text-color);
}

.conflict-page-body {
    overflow-y: auto;
    height: calc(100vh - 17rem);
    margin-top: 0.2rem;
    margin-bottom: 0.7rem;
    margin-left: 1rem;
    padding: .1rem .8rem;
}


.footer {
    font-size: 0.7rem;
    color: var(--grey-text);
    border-top: 1px solid var(--table-text-color);
    padding: 0.2rem;
    text-align: center;
}


@media screen and (max-width: 57em) { 
    h4.tagline {
        display: none;
    }
}



