:root {
    --table-text-color: rgb(209, 209, 209);
}

body {
    background: #fcfcfa;
    font-family: "open sans", Helvetica, Arial, sans-serif;
    margin: 1em auto 2em 1em;
    position: relative;
    width: 1100px;
}

a {
    color: steelblue;
}

h1 {
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 8px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 28px;
}

h2 {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 6px;
    margin-left: 5px;
    /* font-weight: bold; */
    font-size: 18px;
}

h3 {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 8px;
    margin-left: 0px;
    font-weight: bold;
    font-size: 16px;
}

h4 {
    margin-top: 18px;
    margin-right: 20px;
    margin-bottom: 6px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 15px;
}

p {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 6px;
    margin-left: 20px;
    font-size: 15px;
    color: #737373;
    line-height: 1.5;
}

table {
    margin-left: 20px; 
}


tr {
    border-left-width: 0px;
    border-right-width: 0px; 
}

th {
    border-bottom-color: rgb(209, 209, 209);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-top: 5;
    padding-bottom: 5;
    font-size: 14px;
    font-weight: 700;
}

td {
  /*   border-bottom-color: rgb(209, 209, 209);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 0px;
    border-right-width: 0px; */

    /* border-bottom: 1px solid rgb(209, 209, 209); */

    padding-top: 5;
    padding-bottom: 5;
    font-size: 14px;
    font-weight: 400;
}

input {
    width: 240px;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 8px;
}


.div-chart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
}


.div-chart:after {
    content: "";
    flex: auto;
  }
  
.div-chart-item > p {
    font-size: 13px;
    margin-top: 1px;
    
}

.div-chart-item > h3 {
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 1px;
    margin-left: 20px;
    margin-right: 20px;
}

.div-chart-item > img {
    margin-bottom: 9px;
}

.div-chart-item:hover {
    background-color: #cee2ed;
    cursor:pointer;
}


.div-chart-item {
    text-align: center;
    width: 170px;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset; */
    background-color: #F8F8F8;
}



.dc-chart {
    padding-left: 10px;
    padding-top: 10px;
}

.conflict-summary {
    padding-top: 1px;
    padding-bottom: 4px;
    font-size: 14px;
}

.conflict-summary:hover{
    background-color: #cee2ed;
    cursor:pointer;
 }
 


.search-input {
    margin-top: 8px;
    margin-left: 30px;
    width: 300px;
    font-size: 15px;
}

h4.conflict-title {
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 3px;
}

p.conflict-description {
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 13px;
}

.conflict-stories {
    margin-left: 20px;
    font-style: italic
}



.close {
    font-size: 15px;
    color: #222;
    float: right;
    cursor:pointer;
    margin-right: 20px;
}

.title {
    font-weight: bold;
    font-size: 30px;
    color: #000;
    font-family: "PT Sans", sans-serif;
}


#dc-chart-table .th-pub-date, #dc-chart-table .dc-table-column._0 {
    width: 64px;
    font-size: 12px;
    text-align: left;
    padding-left: 5px;
    padding-top: 4px;
}

#dc-chart-table .th_story, #dc-chart-table .dc-table-column._1 {
    width: 460px;
    font-size: 12px;
    text-align: left;
    padding-left: 5px;
    padding-top: 8px;
    padding-bottom: 4px;
}

.info {
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: 20px;
    margin-left: 12px;
}

.search-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
}

.chart-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 50px;
}

.dc-table-label {
    font-size: 12px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}


.conflict-col-1 {
    width: 84px;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    padding-top: 4px;
}

.conflict-col-2 {
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    padding-top: 4px;
}

.td-percent {
    text-align: right;
    border-bottom: 1px solid var(--table-text-color);
}

.td-text {
    text-align: left;
    border-bottom: 1px solid var(--table-text-color);
}

.td-date {
    text-align: left;
    width: 85px;
    border-bottom: 1px solid var(--table-text-color);
}

.td-link a {
    text-decoration: none;
}

.td-link {
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid var(--table-text-color);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 120px;
    min-width: calc(var(--min-width) + 20px);
    max-width: calc(var(--max-width) + 20px);
    height: 100%; /* Full height */
    overflow-y: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
    padding: 2px 10px;
    margin-top: 0px;
}

.modal-body {
    margin-top: 4px;
    margin-bottom: 12px;
    margin-left: 25px;
    padding: 2px 10px;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 0px solid #888;
/* 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
 */


    /*     animation-name: animatetop;
    animation-duration: 0.3s */
}


@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 30;
        opacity: 1
    }
}